body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f7fa;
}

.traffic-light {
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  background: #333;
  border-radius: 10px;
}

.light {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  border-radius: 50%;
  background: #444;
}

.red.active {
  background: red;
}

.yellow.active {
  background: yellow;
}

.green.active {
  background: green;
}
